
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.page-controls {
  background-color: var(--background);
  text-align: center;
  border-radius: 100px;
  width: 200px;
  padding: 16px 0;
  font-family: Cousine, sans-serif;
  font-size: 16px;
  line-height: 1em;
}

.page-controls.secondary {
  border-style: none none solid;
  border-bottom-color: var(--black);
  color: var(--black);
}

.page-controls.secondary:hover {
  background-color: #444abe1a;
}

.page-controls.edit-prompt-button {
  border-style: none;
  border-color: var(--black);
  background-color: var(--transparent-black);
  color: var(--black);
  border-radius: 100px;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.page-controls.edit-prompt-button:hover {
  background-color: #444abe1a;
}

.page-controls.copy {
  background-color: var(--highlight);
  color: var(--white);
  border-style: none;
  flex: none;
}

.tab {
  background-color: var(--transparent-black);
  color: var(--black);
  cursor: pointer;
  border-radius: 100px;
  flex: none;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-right: 8px;
  padding: 8px 16px;
  font-family: Cousine, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: relative;
}

.tab:hover {
  border-color: var(--highlight);
  background-color: var(--transparent-black);
}

.block-link {
  background-color: var(--main-background);
  color: var(--black);
  border-bottom-style: none;
  border-radius: 100px;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  width: auto;
  padding: 8px 24px;
  font-family: Cousine, sans-serif;
  font-size: 18px;
  line-height: 1em;
  display: flex;
}

.block-link:hover {
  border-bottom-color: var(--highlight);
  background-color: var(--secondary-highlight);
}

.show-example {
  grid-column-gap: 20px;
  cursor: pointer;
  flex-direction: row;
  flex: none;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
  font-family: Cousine, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
  display: flex;
}

.close-example-items {
  background-color: var(--background);
  color: var(--main-background);
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-family: Material Icons, sans-serif;
  font-size: 24px;
  line-height: 1em;
  display: flex;
  position: fixed;
  inset: 24px 32px auto auto;
}

.close-example-items:hover {
  color: var(--contrast-low);
}

