.popup-notification {
  z-index: 10;
  color: var(--black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  display: flex;
  position: fixed;
  inset: auto 32px 32px auto;
}

.close-popup {
  background-color: var(--black);
  color: var(--dark-slate-grey);
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1em;
  display: flex;
  position: absolute;
  inset: -4px -4px auto auto;
}

.example-section-wrap {
  z-index: 20;
  border: 16px solid var(--highlight);
  background-color: var(--main-background);
  flex-direction: column;
  flex: none;
  align-items: center;
  padding: 32px;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: auto;
}

.tooltip {
  z-index: 99;
  background-color: var(--highlight);
  color: var(--main-background);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 6px 12px 4px;
  font-family: Cousine, sans-serif;
  font-size: 12px;
  line-height: 1em;
  display: flex;
  position: absolute;
  bottom: -28px;
  left: auto;
  right: auto;
}

