
.sidebar-all-content-wrap {
  flex-direction: column;
  flex: none;
  align-self: stretch;
  padding-bottom: 24px;
  display: flex;
  position: relative;
}

.sidebar-link {
  background-color: var(--main-background);
  color: var(--black);
  border-bottom-style: none;
  align-self: stretch;
  padding: 8px 12px;
  font-family: Cousine, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  display: flex;
}

.sidebar-link:hover {
  border-bottom-color: #00000052;
}

.sidebar-link.w--current {
  background-color: var(--transparent-black);
  color: var(--black);
  border: 1px #000;
  border-radius: 100px;
}

.sidebar {
  border-right: 1px #000;
  flex-direction: column;
  flex: none;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: auto;
}

.sidebar-content {
  flex-direction: column;
  flex: none;
  align-self: stretch;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: sticky;
}

.sidebar-content.work,
.sidebar-content.personal {
  padding-top: 121px;
}

.sidebar-section {
  z-index: 10;
  flex: none;
  margin-top: 20px;
}

.sidebar-section-head {
  z-index: 2;
  grid-row-gap: 8px;
  background-color: var(--main-background);
  color: var(--black);
  flex-flow: wrap;
  flex: none;
  width: 32vw;
  padding: 32px 32px 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  display: flex;
  position: fixed;
}

.sidebar-category-head {
  color: var(--black);
  margin-bottom: 8px;
  margin-left: 12px;
  font-family: Playfair Display, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5em;
}

.sidebar-links-container {
  grid-row-gap: 1px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.test-sidebar-css { background-color: orange; }

.sb-toggle-state {
  cursor: pointer;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;
  font-family: Cousine, sans-serif;
  font-weight: 400;
  line-height: 1em;
  display: flex;
}

.sb-toggle-state._1 {
  flex: none;
}

@media screen and (max-width: 768px) {
  #sidebar-container > div > div > div.sidebar-section-head {
    background-color: white;
  }
}
