
.sidebar-all-content-wrap {
  flex-direction: column;
  flex: none;
  align-self: stretch;
  padding-bottom: 24px;
  display: flex;
  position: relative;
}

.sidebar-link {
  background-color: var(--main-background);
  color: var(--black);
  border-bottom-style: none;
  align-self: stretch;
  padding: 8px 12px;
  font-family: Cousine, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  display: flex;
}

.sidebar-link:hover {
  border-bottom-color: #00000052;
}

.sidebar-link.w--current {
  background-color: var(--transparent-black);
  color: var(--black);
  border: 1px #000;
  border-radius: 100px;
}

.sidebar {
  border-right: 1px #000;
  flex-direction: column;
  flex: none;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: auto;
}

.sidebar-content {
  flex-direction: column;
  flex: none;
  align-self: stretch;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: sticky;
}

.sidebar-content.work,
.sidebar-content.personal {
  padding-top: 121px;
}

.sidebar-section {
  z-index: 10;
  flex: none;
  margin-top: 20px;
}

.sidebar-section-head {
  z-index: 2;
  grid-row-gap: 8px;
  background-color: var(--main-background);
  color: var(--black);
  flex-flow: wrap;
  flex: none;
  width: 32vw;
  padding: 32px 32px 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  display: flex;
  position: fixed;
}

.sidebar-category-head {
  color: var(--black);
  margin-bottom: 8px;
  margin-left: 12px;
  font-family: Playfair Display, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5em;
}

.sidebar-links-container {
  grid-row-gap: 1px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}


.sb-toggle-state {
  cursor: pointer;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;
  font-family: Cousine, sans-serif;
  font-weight: 400;
  line-height: 1em;
  display: flex;
}

.sb-toggle-state._1 {
  flex: none;
}

@media screen and (max-width: 768px) {
  #sidebar-container > div > div > div.sidebar-section-head {
    background-color: white;
  }
}


/* === Extracted from gptp.css === */



.icon.sidebar-chevron {
  font-size: 22px;
  line-height: 1em;
}



  #sidebar-container > div > div > div.sidebar-section-head {
    background-color: white;
  }

@media screen and (max-width: 991px) {

  .field {
    flex: none;
  }

  .field.tall,
  .field.extra-tall,
  .field.standard {
    min-height: 160px;
  }

  .div-block-9 {
    flex: none;
  }

  .close-btn {
    width: 20px;
    height: 20px;
    margin-top: 8px;
  }

  .close-element.l,
  .close-element.r {
    height: 24px;
  }

  .sidebar {
    flex: 0 auto;
  }

  .sidebar-content {
    align-self: stretch;
    padding-left: 16px;
    padding-right: 16px;
  }

  .menu-control {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
    display: none;
    padding-left: 0;
    font-size: 32px;
  }

  .sidebar-section {
    margin-top: 24px;
  }

  .sidebar-section-head {
    grid-column-gap: 0px;
    grid-row-gap: 4px;
    flex-direction: row;
    width: 40vw;
    padding-left: 16px;
    padding-right: 8px;
  }

  .tab {
    flex: 0 auto;
    justify-content: flex-start;
    min-height: 40px;
    margin-right: 4px;
    padding: 4px 12px;
  }

  .instructions-section-content {
    padding-left: 24px;
  }

  .section-heading {
    flex: 1;
    margin-right: 0;
  }

  .section-heading.example-heading {
    flex: none;
    margin-top: 20px;
  }

  .section-heading.example-heading.super {
    color: var(--main-background);
  }

  .example-item {
    background-color: var(--contrast-background);
    border-style: none;
    min-width: 0;
    padding-top: 0;
  }

  .example-section-wrap {
    border-color: var(--contrast-background);
    background-color: var(--highlight);
    padding: 0 0 24px;
  }

  .examples-section-ctnr {
    flex-direction: column;
    padding: 0 20px;
  }

  .examples-section-ctnr.vertical {
    grid-row-gap: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .examples-section-ctnr.with-header-image {
    padding-left: 40px;
    padding-right: 40px;
  }

  .show-example {
    font-size: 16px;
  }

  .input-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .close-example-items {
    background-color: var(--contrast-background);
    right: 24px;
  }

  .close-example-items:hover {
    color: var(--white);
  }

  .div-block-21 {
    align-self: stretch;
  }

  .header-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5em;
  }

  .fact-check-warning {
    justify-content: center;
  }

  .quick-stack {
    background-color: #0000;
  }

  .div-block-23 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: wrap;
  }

  .div-block-27 {
    max-width: 100%;
  }

  .logo-ctnr {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .logo-lockup {
    border-width: 2px;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    display: flex;
    top: 8px;
    right: 8px;
  }

  .flex-block-2 {
    grid-column-gap: 0px;
    grid-row-gap: 24px;
    flex-direction: column;
  }

  .universal-heading-icon:hover {
    background-color: #e4e9e8;
  }

  .universal-heading-icon.w--current {
    justify-content: flex-start;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    display: none;
  }

  .text-block-26 {
    font-size: 20px;
    line-height: 1.5em;
  }

  .logo-lockup-ctnr {
    align-self: stretch;
  }

  .tooltip {
    display: none;
  }

  .uploaded-image-example {
    height: 200px;
  }

  .flex-block-5 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: wrap;
  }

  .statement-controls {
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {

  .field {
    padding: 12px;
    font-family: Cousine, sans-serif;
    font-size: 20px;
    line-height: 1.3em;
  }

  .div-block-3 {
    flex: none;
  }

  .heading {
    margin-bottom: 12px;
  }

  .close-btn {
    color: var(--main-background);
    margin-left: 20px;
    display: none;
  }

  .close-element.l,
  .close-element.r {
    height: 24px;
  }

  .sidebar {
    z-index: 10;
    flex: none;
    width: 100%;
    height: auto;
    margin-top: 0;
    position: fixed;
    inset: 0 0% 0%;
  }

  .sidebar-content {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-top: 116px;
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar-content.work {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .menu-control {

    background-color: var(--white);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    font-family: Material Icons, sans-serif;
    font-size: 24px;
    line-height: 1em;
    display: flex;
    padding: 0px;
    margin-top: 16px;
    margin-left: 16px;
    position: fixed;

  }

  .sidebar-section {
    flex-direction: column;
    margin-top: 0;
    display: flex;
  }

  .sidebar-section-head {
    grid-row-gap: 8px;
    align-items: stretch;
    width: 100%;
    padding: 16px 96px 16px 80px;
  }

  .sidebar-category-head {
    text-align: left;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 4px;
    padding-left: 32px;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5em;
    display: flex;
  }

  .tab {
    color: var(--highlight);
    text-align: center;
    border-style: none;
    border-radius: 100px;
    flex: none;
    justify-content: center;
    min-height: 42px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Playfair Display, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5em;
  }

  .instructions-section-content {
    padding-left: 28px;
  }

  .section-heading {
    max-width: 80px;
  }

  .section-heading.example-heading {
    margin-top: 0;
    font-size: 24px;
    line-height: 1.5em;
  }

  .section-heading.example-heading.super {
    margin-bottom: 0;
    font-size: 32px;
  }

  .text-block-7 {
    font-size: 16px;
    line-height: 1em;
  }

  .start-content.resources,
  .start-content.services {
    padding-left: 0;
    padding-right: 0;
  }

  .example-input-content {
    flex: none;
    margin-bottom: 12px;
    font-family: Cousine, sans-serif;
  }

  .example-input-content.results {
    margin-bottom: 0;
  }

  .example-item {
    background-color: #00b85c;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 20px;
  }

  .example-item.results {
    padding-left: 32px;
    padding-right: 32px;
  }

  .input-heading {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 14px;
  }

  .example-section-wrap {
    z-index: 999;
    border-style: none;
    padding: 24px;
  }

  .examples-section-ctnr {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    flex: none;
    margin-top: 20px;
    padding: 0;
  }

  .examples-section-ctnr.vertical {
    grid-row-gap: 16px;
    border: 1px #000;
    width: auto;
    margin-top: 12px;
  }

  .examples-section-ctnr.with-header-image {
    margin-top: -56px;
  }

  .show-example {
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  .input-wrap {
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    display: flex;
  }

  .quickstack.example {
    grid-column-gap: 8px;
    grid-row-gap: 0px;
  }

  .close-example-items {
    font-family: Material Icons, sans-serif;
    font-size: 32px;
    line-height: 1em;
    top: 24px;
    right: 24px;
  }

  .example-flex-col {
    margin-bottom: 16px;
  }

  .header-description {
    margin-top: 0;
  }

  .fact-check-warning {
    margin-bottom: 24px;
  }

  .icon-close-menu {
    cursor: pointer;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-family: Material Icons, sans-serif;
    font-size: 24px;
    padding: 8px;
    font-weight: 400;
    line-height: 1em;
    display: flex;


  }

  .icon-expand-mobile-menu {
    flex: auto;
    border-radius: 100%;
    background-color: white;
    justify-content: center;
    padding: 8px;
    font-size: 20px;



    font-family: Material Icons, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1em;
    display: flex;
    align-items: center;
  }

  .manual-legend {
    flex-direction: column;
  }

  .manual-legend-wrap {
    margin-top: 16px;
  }

  .quick-stack {
    padding: 32px;
  }

  .icon.home {
    font-size: 24px;
  }

  .instructions-ctnr {
    padding-left: 0;
    position: relative;
  }

  .div-block-27 {
    padding: 16px;
  }

  .heading-2 {
    margin-bottom: 0;
  }

  .return-to-start-wrap {
    background-color: #0000;
    justify-content: center;
    align-self: stretch;
    align-items: stretch;
    display: flex;
  }

  .return-to-start-ctnr {
    color: var(--white);
    background-color: #0000;
    flex: 1;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    display: flex;
  }

  .show-on-mobile {
    display: inline;
  }

  .logo {
    height: 40px;
  }

  .logo-ctnr {
    margin-top: 0;
  }

  .logo-lockup {
    z-index: 50;
    border-color: var(--highlight);
    background-color: #0000;
    width: 96px;
    margin-left: auto;
    position: fixed;
    top: 8px;
    right: 12px;
  }

  .cousine {
    font-size: 20px;
  }

  .services-dropdown-trigger {
    color: var(--highlight);
  }

  .services-dropdown {
    align-self: stretch;
  }

  .universal-heading-icon.w--current {
    flex: none;
    align-self: stretch;
    align-items: center;
  }

  .logo-image-container {
    background-color: #0000;
    border-radius: 0%;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-right: 8px;
    padding: 8px;
    display: flex;
    position: static;
    left: auto;
    right: auto;
  }

  .flex-block-3 {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding-right: 72px;
    display: flex;
    position: relative;
  }

  .logo-lockup-ctnr {
    flex: 1;
    justify-content: flex-start;
    display: none;
  }

  .logo-image {
    width: auto;
    height: 32px;
    display: none;
  }

  .uploaded-image-example {
    height: 125px;
  }

  .copied {
    margin-bottom: 16px;
    right: 8px;
  }

  .builder-column {
    padding-left: 8px;
    padding-right: 8px;
  }

  .flex-block-5 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: row;
  }

  .egroup-wrap {
    grid-column-gap: 8px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .egroup.collapseable {
    flex-flow: wrap;
    flex: 1;
  }

  .sidebar-toggle {
    display: none;
  }

  .mobile-menu-icon {
    background-color: var(--white);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    font-family: Material Icons, sans-serif;
    font-size: 24px;
    line-height: 1em;
    display: flex;
  }
}

@media screen and (max-width: 479px) {

  .field.tall,
  .field.extra-tall,
  .field.standard {
    min-height: 144px;
    font-size: 18px;
    font-style: normal;
  }

  .form {
    margin-top: 16px;
  }

  .div-block-4 {
    border-color: var(--highlight);
    flex: none;
  }

  .div-block-9 {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .heading {
    margin-bottom: 0;
    line-height: 1.5em;
  }

  .close-btn {
    margin-left: 24px;
  }

  .sidebar-content {
    width: 100%;
  }

  .sidebar-content.work {
    width: auto;
  }

  .menu-control {
    flex: auto;
    justify-content: center;
    align-items: center;
  }

  .sidebar-section {
    border-bottom-style: none;
  }

  .sidebar-section-head {
    padding-left: 64px;
    padding-right: 16px;
  }

  .sidebar-category-head {
    padding-left: 24px;
  }

  .tab {
    min-height: 40px;
  }

  .tab:hover {
    background-color: var(--lightest-green);
    color: var(--highlight);
  }

  .tab.work {
    border-color: var(--black);
  }

  .instructions-section-content {
    flex-direction: column;
    flex: none;
    margin-left: 8px;
    display: block;
  }

  .section-heading {
    justify-content: flex-start;
    margin-top: 4px;
    margin-bottom: 8px;
    font-family: Cousine, sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  .section-heading.example-heading {
    align-self: flex-start;
  }

  .section-heading.example-heading.super {
    background-color: #0000;
    margin-top: 8px;
    margin-left: 0;
    padding-left: 0;
  }

  .text-block-7 {
    font-size: 24px;
  }

  .text-block-8 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5em;
  }

  .div-block-17 {
    flex-direction: row;
    align-items: flex-start;
  }

  .example-input-content {
    align-items: stretch;
    margin-bottom: 0;
    padding: 12px;
  }

  .example-input-content.results {
    margin-bottom: 0;
  }

  .example-item {
    align-items: flex-start;
    margin-top: 0;
    padding: 8px 16px;
  }

  .example-item.results {
    padding-left: 24px;
    padding-right: 24px;
  }

  .input-heading {
    flex: none;
    margin-top: 16px;
    font-size: 16px;
  }

  .example-section-wrap {
    border-style: none;
    align-self: stretch;
    width: auto;
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  .examples-section-ctnr {
    border: 1px #000;
    flex-direction: column;
    flex: none;
    align-self: stretch;
    width: auto;
    padding-bottom: 12px;
    position: static;
  }

  .examples-section-ctnr.vertical {
    margin-top: 0;
  }

  .examples-section-ctnr.with-header-image {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .show-example {
    align-self: stretch;
    min-height: 40px;
  }

  .overview-trigger-text {
    flex: 1;
  }

  .overview-trigger-text.show,
  .overview-trigger-text.hide {
    text-align: left;
    flex: 0 auto;
    justify-content: center;
    display: flex;
  }

  .close-example-items {
    top: 15px;
    right: 24px;
  }

  .field-element-wrap {
    margin-bottom: 0;
  }

  .example-flex-col {
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
  }

  .header-description {
    margin-top: 0;
    font-size: 22px;
    line-height: 1.5em;
  }

  .fact-check-warning-ctnr {
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
  }

  .fact-warning-content-ctnr {
    margin-bottom: 12px;
    margin-left: 12px;
  }

  .dismiss-warning {
    margin-bottom: 0;
  }

  .icon-expand-mobile-menu {
    width: 32px;
    height: 32px;
    margin-left: 0;
  }

  .quick-stack {
    padding: 0;
  }

  .div-block-23 {
    flex-direction: column;
  }

  .div-block-24 {
    order: -1;
    align-self: stretch;
    margin-top: -12px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .icon.home {
    margin-right: 0;
    font-style: normal;
  }

  .instructions-ctnr {
    padding-right: 0;
  }

  .div-block-28 {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.5em;
  }

  .return-to-start-wrap {
    align-items: center;
  }

  .return-to-start-ctnr {
    text-align: center;
    justify-content: center;
  }

  .logo-ctnr {
    margin-top: 24px;
  }

  .logo-lockup {
    z-index: 50;
    background-size: contain;
    border-style: none;
    border-radius: 0%;
    width: 96px;
    height: 40px;
    margin-left: auto;
    display: none;
  }

  .universal-heading-icon {
    background-color: var(--secondary-highlight);
    border-style: none;
  }

  .universal-heading-icon.w--current {
    min-height: 48px;
  }

  .logo-image-container {
    align-items: flex-start;
    padding: 0;
    position: static;
    bottom: -27px;
  }

  .flex-block-3,
  .logo-lockup-ctnr {
    justify-content: flex-start;
  }

  .logo-image {
    flex: none;
    height: 40px;
  }

  .uploaded-image-example {
    height: auto;
  }

  .mobile-hide {
    display: none;
  }

  .copied {
    margin-bottom: 8px;
  }

  .flex-block-5 {
    flex-flow: wrap;
  }
}
