
:root {
  --main-background: #9be6d2;
  --black: black;
  --highlight: #073429;
  --contrast-background: #00b85c;
  --field-background: #d7f7df;
  --contrast-low: #969696;
  --white: white;
  --secondary-highlight: #8bdaa0;
  --background: #073429;
  --transparent-black: #07342912;
  --dark-slate-grey: #282924;
  --lightest-green: #e4e9e8;
  --sienna: #bd6417;
  --faded-dark: #2a7e49;
}
