.prompt-body {
  background-color: var(--contrast-background);
  box-shadow: none;
  border-radius: 32px;
  flex-direction: column;
  flex: none;
  width: 100%;
  max-width: 1000px;
  margin-top: 16px;
  padding: 32px 48px 48px;
  display: flex;
}

.prompt-body.personal {
  background-color: var(--contrast-background);
  padding-bottom: 48px;
  overflow: auto;
}

.prompt-body.visual-builder {
  background-color: #07342900;
  flex: 1;
  padding: 0;
  position: relative;
}

.start-page-content-wrap {
  grid-column-gap: 24px;
  background-color: var(--contrast-background);
  border-radius: 32px;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}

.example-item {
  background-color: var(--contrast-background);
  border-radius: 20px;
  flex-flow: column wrap;
  width: 100%;
  max-width: 100%;
  padding: 24px 32px 32px;
  font-family: Cousine, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
}

.example-item.results {
  background-color: var(--contrast-background);
}

.example-input-content {
  border: 1px solid var(--highlight);
  background-color: var(--transparent-black);
  color: var(--black);
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  padding: 16px;
  font-family: Cousine, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
}

.example-input-content.results {
  color: var(--black);
  background-color: #0000;
  border-style: none;
  flex: 1;
  margin-top: 16px;
  padding: 0;
  font-family: Cousine, sans-serif;
  display: block;
}

